[submodule "common/CCLArgs"]
	path = common/CCLArgs
	url = https://github.com/RuiDGPires/CCLArgs

[submodule "common/portmidi"]
	path = common/portmidi
	url = https://github.com/PortMidi/portmidi
[submodule "common/toml-c"]
	path = common/toml-c
	url = https://github.com/arp242/toml-c
